@import '../../styles/colors.scss';

.NFCTable {
  background-color: $translucent;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 3px 10px black;
  // min-width: 25vw;
  color: $table_row;
}

td, th {
  text-align: left;
  padding: 20px;
}

.btn-row{
  display: flex;
  flex-direction: row;
  gap: 10px;
}