@import '../../styles/colors.scss';

.container {
    // background: $purple_1;
    // background: linear-gradient(90deg, $purple_1 9%, $blue_1 55%, $green_1 100%);

    background-image: url('../../images/xIzYo2d-minecraft-hd-wallpaper.jpg') ;

    background-repeat: no-repeat;
    background-size: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 44vw;
}

.dark-btn {
    border: none;
    background-color: black;
    color: $clear_text;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.dark-btn:hover {
    background-color: $blue_2;
}

.dark-btn:active {
    transform: translateY(1px);
    background-color: black;
}

.colored-btn {
    border: none;
    background: linear-gradient(90deg, $purple_1 9%, $blue_1 55%, $green_1 100%);
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.colored-btn:hover {
    background: linear-gradient(130deg, $purple_1 9%, $blue_1 55%, $green_1 100%);
}

.colored-btn:active {
    transform: translateY(1px);
    background: linear-gradient(90deg, $purple_1 9%, $blue_1 55%, $green_1 100%);
}

.table-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__table {
        // background-color: $translucent;
        background-color: transparent;
        backdrop-filter: blur(100px);
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0px 3px 10px black;
        // min-width: 25vw;
        color: $table_row;
    }

    td,
    th {
        text-align: left;
        padding: 20px;
    }

    .btn-row {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

}

.header {
    position: sticky;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 30px;
    align-items: center;

    &__title {
        font-size: 30px;
        font-weight: bolder;
        color: $clear_text;
    }
}

.form {
    &__container {
        color: $clear_text;
        position: absolute;
        top: 5%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: black;
        border-radius: 20px;
        box-shadow: 0px 3px 10px $blue_1;
        width: 250px;
        padding: 20px;
    }

    button {
        align-self: flex-start;
    }

    input {
        background-color: $blue_2;
        color: $clear_text;
        border: none;
        border-radius: 8px;
        outline: none;
        padding: 3px 8px;
    }

    input:focus {
        border: none;
        outline: none;
    }

    ::placeholder {
        color: black;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    // background: $green_1;
    background: #2e2e2e;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1b1b1b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3d3d3d;
}

::-webkit-scrollbar-track-piece {
    margin: 1px;
}